<!DOCTYPE html>

<html>

  <head>
    <title>TwitOff - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
  </head>

  <body>
    <nav>
      <a href="/" class="brand"><span>TwitOff!</span></a>
      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>
      <div class="menu">
        <a href="/update" class="button warning">Add Default Users</a>
        <a href="/reset" class="button error">Reset Database</a>
      </div>
    </nav>

    <article class="" style="padding: 3em 1em;">
      {% block content %}
        <h2>Users</h2>
        <ul>
          {% for user in users %}
          <li><a href="/user/{{ user.name }}">{{ user.name }}</a></li>
          {% endfor %}
        </ul>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <script>alert('{{ message }}');</script>
            {% endfor %}
          {% endif %}
        {% endwith %}
      {% endblock %}
      <!-- <h2>Add user!</h2> -->
      <form action="/newuser" method='post'>
        <input name="username" type="text" style="width: 200px;" placeholder="New user">
        <button id="adduser">Add</button>
      </form>
    </article>
    <script>history.replaceState('','','/');</script>
  </body>

</html>