<!DOCTYPE html>

<html>
  
  <head>
    <title>TwitOff - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/chili.png') }}">
  </head>

  <body>
    <div id='alert'></div>

    <nav>
      <a href="/" class="brand"><span>TwitOff</span></a>
      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>
      <div class="menu">
        <a href="/update" class="button warning">Add Default Users</a>
        <a href="/reset" class="button error">Reset Database</a>
      </div>
    </nav>

    <article class="" style="padding: 3em 1em;">
      {% block content %}
        <h2>Predict!</h2>
        <form name="prediction" action="/prediction" method='post' onsubmit="return valPrediction()">
          <div class='twocol'>
            <select name='user1'>
              <option value="" disabled selected>Choose User1</option>
              {% for user in users %}
                <option value="{{ user.name }}">{{ user.name }}</option>
              {% endfor %}
            </select>
            <select name='user2'>
              <option value="" disabled selected>Choose User2</option>
              {% for user in users %}
                <option value="{{ user.name }}">{{ user.name }}</option>
              {% endfor %}
            </select>
          </div>
          <input name='hypotweet' type="text" placeholder="Hypothetical tweet" class='tinypad'>
          <button>Predict</button>
        </form>
        <br><br>

        <h2>Add Users</h2>
        <form action="/newuser" method='post'>
          <input name="username" type="text" placeholder="New user">
          <button>Add</button>
        </form>
        <script>history.replaceState('','','/');</script>
      {% endblock %}
    </article>
    <footer>
      <p class='attr'>Favicon by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons" target="_blank">Smashicons</a></p>
    </footer>

    <script>
      var alertbox = document.getElementById('alert');

      function flash(message){
        alertbox.innerHTML = message;
        alertbox.style.visibility = 'visible';
        setTimeout(() => {
          alertbox.style.visibility = 'hidden';
        }, 2000);
      }

      function valPrediction(){
        form = document.forms['prediction'];
        var user1 = form['user1'].value;
        var user2 = form['user2'].value;
        var tweet = form['hypotweet'].value;
        if (user1 == user2){
          flash('Users must be different!');
          return false;
        } else if (!tweet){
          flash('No empty tweets!');
          return false;
        }
      }
    </script>
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
        <script>
          flash("{{ message }}");
        </script>
      {% endfor %}
    {% endwith %} 
  </body>

</html>